@font-face {
  font-family: PressStart;
  src: url("../fonts/press_start.woff");
}

body {
  margin: 0;
  background-color: #fff;
  font-family: PressStart;
}

.game-wrapper {
  color: #FFF;
  margin: 0 auto;
  margin-top: 25px;
}
